# Ignore node_modules directory
node_modules/
.next/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables
.env

# Ignore macOS system files
.DS_Store

# Ignore npm debug files
npm-debug.log*

# Ignore yarn files
yarn-error.log

# Ignore Visual Studio Code files
.vscode/

# Ignore IntelliJ IDEA files
.idea/
